extensions:
	application: Nette\Bridges\ApplicationDI\ApplicationExtension(%debugMode%)
	http: Nette\Bridges\HttpDI\HttpExtension(%consoleMode%)
	latte: Nette\Bridges\ApplicationDI\LatteExtension(%buildDir%/latte, %debugMode%)
	routing: OriCMF\UI\Routing\DI\RoutingExtension
	session: Nette\Bridges\HttpDI\SessionExtension(%debugMode%, %consoleMode%)
	- OriCMF\UI\Template\DI\UITemplateExtension

application:
	catchExceptions: %catchExceptions.ui%
	debugger: %debug.panels.ui.application%
	errorPresenter: OriCMF\UI\Error\ErrorForwardPresenter
	mapping:
		*: ['', *, *\*Presenter]
	scanComposer: false
	scanDirs: false
	silentLinks: false

decorator:
	OriCMF\UI\Control\Base\BaseControl:
		setup:
			- setBase()

http:
	csp:
		base-uri: self
		form-action: self
		frame-ancestors: none
	headers:
		Referrer-Policy: strict-origin-when-cross-origin
		X-Content-Type-Options: nosniff
		X-Frame-Options: DENY
		X-Powered-By: Orisai CMF
		X-XSS-Protection: '1; mode=block'

latte:
	debugger: %debug.panels.latte%
	strictTypes: true

localization:
	loaders:
		- factory: Orisai\Localization\Resource\FileLoader
		  arguments:
		  	directories: [%vendorDir%/orisai/cmf-ui/src/**/translations/**]

parameters:
	catchExceptions:
		ui: false
	debug:
		panels:
			latte: false
			ui:
				application: false
				routing: false
				session: false
	privileges:
		- administration.entry

routing:
	debug: %debug.panels.ui.routing%
	providers:
		ori.core: OriCMF\UI\Routing\CmfUIRouterProvider

services:
	# Presenter factory
	application.presenterFactory:
		factory: OriCMF\UI\Presenter\Mapping\PresenterFactory
		arguments:
			presenterMapper: Nepada\PresenterMapping\PresenterMapper()
			factory: OriCMF\UI\Presenter\Mapping\PresenterFactoryCallback()

	# Document basic controls
	ori.ui.control.body.factory:
		implement: OriCMF\UI\Control\Body\BodyControlFactory
	ori.ui.control.breadcrumb.factory:
		implement: OriCMF\UI\Control\Breadcrumb\BreadcrumbControlFactory
	ori.ui.control.document.factory:
		implement: OriCMF\UI\Control\Document\DocumentControlFactory
	ori.ui.control.head.factory:
		implement: OriCMF\UI\Control\Head\HeadControlFactory
	ori.ui.control.icons.factory:
		implement: OriCMF\UI\Control\Icons\IconsControlFactory
	ori.ui.control.links.factory:
		implement: OriCMF\UI\Control\Links\LinksControlFactory
	ori.ui.control.meta.factory:
		implement: OriCMF\UI\Control\Meta\MetaControlFactory
	ori.ui.control.noscript.factory:
		implement: OriCMF\UI\Control\NoScript\NoScriptControlFactory
	ori.ui.control.scripts.factory:
		implement: OriCMF\UI\Control\Scripts\ScriptsControlFactory
	ori.ui.control.styles.factory:
		implement: OriCMF\UI\Control\Styles\StylesControlFactory
	ori.ui.control.title.factory:
		implement: OriCMF\UI\Control\Title\TitleControlFactory

	# Forms
	ori.ui.form.factory:
		factory: OriCMF\UI\Form\FormFactory

	# Error forwaring
	ori.ui.errorForward.presenter:
		factory: OriCMF\UI\Error\ErrorForwardPresenter
		setup:
			- addErrorPresenter(':OriCMF\UI\Admin\Error\ErrorPresenter:default', '#(.*)(\\|:)(Admin|Administration)(\\|:)(.*)#')

	# Auth
	ori.ui.auth.loginStorage:
		factory: Orisai\Auth\Bridge\NetteHttp\SessionLoginStorage
		autowired: false
	ori.ui.auth.policyManager:
		factory: Orisai\Auth\Bridge\NetteDI\LazyPolicyManager
		arguments:
			serviceMap: []
		autowired: false
	ori.ui.auth.authorizerCreator:
		factory: OriCMF\UI\Auth\UserAuthorizerCreator
		autowired: false
		setup:
			- addPrivileges(%privileges%)
	ori.ui.auth.authorizer:
		factory: @ori.ui.auth.authorizerCreator::create
		autowired: false

	# Admin
	ori.ui.admin.auth.identityRenewer:
		factory: OriCMF\UI\Admin\Auth\AdminIdentityRenewer
		autowired: false
		arguments:
			authorizer: @ori.ui.auth.authorizer
	ori.ui.admin.auth.firewall:
		factory: OriCMF\UI\Admin\Auth\AdminFirewall
		arguments:
			storage: @ori.ui.auth.loginStorage
			renewer: @ori.ui.admin.auth.identityRenewer
			authorizer: @ori.ui.auth.authorizer
			policyManager: @ori.ui.auth.policyManager

	ori.ui.admin.dashboard.presenter:
		factory: OriCMF\UI\Admin\Dashboard\DashboardPresenter
	ori.ui.admin.error.presenter:
		factory: OriCMF\UI\Admin\Error\ErrorPresenter
	ori.ui.admin.login.presenter:
		factory: OriCMF\UI\Admin\Login\LoginPresenter

	# Front
	ori.ui.front.auth.identityRenewer:
		factory: OriCMF\UI\Front\Auth\FrontIdentityRenewer
		autowired: false
	ori.ui.front.auth.firewall:
		factory: OriCMF\UI\Front\Auth\FrontFirewall
		arguments:
			storage: @ori.ui.auth.loginStorage
			renewer: @ori.ui.front.auth.identityRenewer
			authorizer: @ori.ui.auth.authorizer
			policyManager: @ori.ui.auth.policyManager

	ori.ui.front.error.presenter:
		factory: OriCMF\UI\Front\Error\ErrorPresenter
	ori.ui.front.homepage.presenter:
		factory: OriCMF\UI\Front\Homepage\HomepagePresenter
	ori.ui.front.login.presenter:
		factory: OriCMF\UI\Front\Login\LoginPresenter

	# Templates
	ori.ui.template.locator.control:
		factory: OriCMF\UI\Template\Locator\ControlTemplateLocator
		arguments:
			rootDir: %rootDir%
	ori.ui.template.locator.presenter:
		factory: OriCMF\UI\Template\Locator\PresenterTemplateLocator
		arguments:
			rootDir: %rootDir%

session:
	autoStart: smart
	cookieSamesite: Lax
	debugger: %debug.panels.ui.session%
	expiration: 14 days
	name: SID
	sid_bits_per_character: 6
	sid_length: 128
